.player{
    margin-left: 2opx;
}

.upload-btn {
    background-color: #4d84e2;
    border: none; 
    color: white; 
    padding: 12px 24px;
    text-align: center; 
    text-decoration: none; 
    font-size: 16px; 
    border-radius: 25px;
    margin-top:120px ;
    margin-bottom:20px ;
    margin-left: 700px;
  }
  
  /* .timestamp {
    display: flex;
    flex-direction: row;
  }

  .timestamp img {
    width: 100px;
    height: 50px;
    border: 2px solid black;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-left: 20px;
  } */


  .timestamp-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin-top: 20px;
  }
  
  .timestamp-item {
    margin-right: 20px;
  }
  
  .timestamp-item:last-child {
    margin-right: 0;
  }
  
  .timestamp-item img {
    /* width: 150px;
    height: 150px; */
    object-fit: cover;
    cursor: pointer;
    width: 100px;
    height: 50px;
    border: 2px solid black;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-left: 20px;
  }
  
  .timestamp-details {
    margin-top: 5px;
    text-align: center;
  }
  
  .timestamp-topic {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .timestamp-time {
    font-size: 14px;
    color: #777;
  }
  
#btn-go{
  background-color: #4d84e2;
  border: none; 
  color: white; 
  padding: 12px 12px;
  text-align: center; 
  text-decoration: none; 
  font-size: 16px; 
  border-radius: 25px;
}

.input-time {
  padding: 6px 10px;
  text-decoration: none; 
  font-size: 16px; 
  border-radius: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 1rem;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.card-content {
  padding: 1rem;
}

.card-title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.card-description {
  margin: 0 0 1rem 0;
  font-size: 1rem;
}

.card-link {
  color: #0077cc;
  text-decoration: none;
  font-weight: bold;
}

.cards {
  display: flex;
  flex-wrap: wrap
}